
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}


thead th {
    background-color: #45a049;
    color: #ffffff;
    padding: 12px;
    border-bottom: 2px solid #ddd;
    text-align: center;
    
}


tbody tr {
    border-bottom: 1px solid #ddd;
}


td {
    padding: 12px;
}


tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


tbody tr:hover {
    background-color: #f1f1f1;
}


a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}


.update-link {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #f4ff60;
    padding: 7px;
    
  }
  
  .update-link:hover {
    background-color: #ffffff; 
    color: #000000;; 
    text-decoration: none;
  }

  .delete-link {
    color: #000000; 
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #ff5353;
    border: none;
  }
  
  .delete-link:hover {
    background-color: #ffffff; 
    color: #000000; 
  }